html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    animation: planoDeFundoAnimado 2000ms infinite alternate;
}

.textoanimado {
    font-size: 3em;
    font-weight: 900;
    color: #faebd7;
    animation: oTextoAnimado 4000ms infinite alternate;
}

@keyframes planoDeFundoAnimado {
    0% {
        background: linear-gradient(90deg, #ff0000, #e63535, #00aeff, #006eff);
    }

    50% {
        background: linear-gradient(90deg, #ff4141, #e635ba, #ff00b3, #4b99ff);
    }

    100% {
        background: linear-gradient(90deg, #ac2ea6, #9912a5, #9912a5, #ac2ea6);
    }
}


@keyframes oTextoAnimado {
    0% {
        text-shadow: 3px 3px black;
        font-size: 40px;
    }

    
    100% {
        text-shadow: 20px 20px black;
        font-size: 80px;
    }
}